<h3>Users:</h3>
<ul>
    <% for (let user of users) { %>
        <li>
            <%= user %>
            <a href="/users/<%= user %>" target="_blank">View</a>
            <a href="/users/delete/<%= user %>">Delete</a>
        </li>
    <% } %>
</ul>
<form action="/users/create" method="POST">
    <label for="new_user">Nuovo utente:</label>
    <input type="text" name="new_user" id="new_user" />
</form>