<h3>Users:</h3>
<ul>
    <% for (let user of users) { %>
        <li>
            <%= user.username %>
            <a href="/users/<%= user.id %>" target="_blank">View</a>
            <a href="/users/delete/<%= user.id %>">Delete</a>
        </li>
    <% } %>
</ul>
<h3>Create a new user</h3>
<form name="myForm" method="POST" action="/users/create" enctype="application/x-www-form-urlencoded">
    <input type="text" id="username" name="username">
    <input type="password" id="password" name="password" >
    <button>Create</button>
</form>